.root {
    -fx-background-color: #2a2a33; /*Default 363543,2a2931,1F2532 */

}
.button {
    -fx-background-color: transparent;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-cursor: hand;
}
.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Helvetica";
}
