.navigationPanel {
  -fx-background-color: #1D2027; /*Default #292E34,#403F4C */
  /* set padding on the top */
  -fx-padding: 10 0 0 0;
  -fx-effect: dropshadow(three-pass-box, rgba(20,20,20,0.6), 10, 0, 0, 0);
}

.button {
  -fx-background-color: #21262C; /* default 393F44,313038 */
  -fx-background-radius: 0;
  /* top, right. bottom, left padding */
  -fx-padding: 10 25 10 25;
  -fx-font-size: 20;
  -fx-cursor: hand;
  -fx-text-fill: white;
  -fx-pref-width: 200;
  -fx-pref-height: 50;
  -fx-font-family: "Helvetica"; /*default Verdana */
}
.button:hover {
    -fx-background-color: #30A4FB;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-background-color: rgb(46, 134, 202);
}

.userNameLabel {
  -fx-font-size: 20;
  -fx-font-weight: 700;
}

